
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$Body-font: 'Open Sans', sans-serif;
$Headings-font: 'Poppins', sans-serif;



// Primary

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);
$Blue:hsl(228, 45%, 44%);

// Neutral

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);


